/*
 *
 *	General use classes
 *
*/

.text-8 { font-size: 8px; }
.text-9 { font-size: 9px; }
.text-10 { font-size: 10px; }
.text-11 { font-size: 11px; }
.text-12 { font-size: 12px; }
.text-13 { font-size: 13px; }
.text-14 { font-size: 14px; }
.text-15 { font-size: 15px; }
.text-16 { font-size: 16px; }
.text-17 { font-size: 17px; }
.text-18 { font-size: 18px; }
.text-19 { font-size: 19px; }
.text-20 { font-size: 20px; }
.text-22 { font-size: 22px; }
.text-28 { font-size: 28px; }
.text-32 { font-size: 32px; }
.text-black, a.text-black { color: #000000; }
.text-white, a.text-white { color: #ffffff; }
.text-red { color: #f74a4a; }
.text-grey, a.text-grey { color: #999999; }
.text-blue, a.text-blue { color: #4c81b3; }
.text-orange, a.text-orange { color: #ec9236; }
.text-green, a.text-green { color: #91c844; }
.text-black, a.text-black { color: #333; }
.bold { font-weight: bold; }
.italics { font-style: italic; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.center { margin: auto; }
.align-left { margin: 0px 15px 15px 0px; }
.align-right { margin: 0px 0px 15px 15px; }
.float-right { float: right; }
.float-left { float: left; }
.align-top { vertical-align: top; }
.clear { clear: both; }
.text-shadow {
	text-shadow: 5px 5px 5px rgba(0,0,0,.6);
}

html {
	height: 100%;
	width: 100%;
	margin: 0px 0px 1px 0px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #444;
}

body, td, th {
	/*font-family: Trebuchet MS1, Trebuchet MS, sans-serif;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 200;
	line-height: 18px;
}

/*
#general-page a#general,
#rough_structure-page a#rough-structure,
#mechanical-page a#mechanical,
#interior_exterior-page a#interior-exterior,
#exterior_finishes-page a#exterior-finishes,
#interior_finishes-page a#interior-finishes,
#closing-page a#closing {
	color: #333;
	font-weight: bold;
}
*/

ul {
	list-style-type: none;
}

table {
	margin: 25px auto;
	border-collapse: collapse;
	width: 80%;
}

tr.column-names td {
	padding: 5px;
	border-bottom: 1px solid #c8c8c8;
	font-size: 12px;
	font-weight: 600;
}

th {
/*
	background: -moz-linear-gradient(center top, #b8d8f2, #4c81b3 25%, #004579 50%, #4c81b3 75%, #b8d8f2);
	background: -webkit-gradient(linear, center top, center bottom, from(#b8d8f2), color-stop(25%, #4c81b3), color-stop(50%, #004579), color-stop(75%, #4c81b3), to(#b8d8f2));
*/
	background: #333;
	color: #e1e1e1;
	font-size: 14px;
	padding: 5px;
}

td {
	padding: 15px;
}


img {
	border: 0;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #ec9236;
	text-decoration: none;
}


.button-left {
	position: relative;
	float: left;
	margin-top: -40px;
	margin-left: 0;
	display: inline;
}

.button-right {
	position: relative;
	float: right;
	margin-top: -40px;
}

a.button, a.button:visited {
	padding: 4px;
	margin-top: 2px;
	background-color: #666;
	color: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none;
	border: none;
	outline: none;
	display: inline-block;
}

a.button:hover {
	background-color: #444;
}

a.back-button, a.back-button:visited {
	padding: 5px;
	margin-top: 2px;
	background-color: #666;
	color: #eee;
	border-radius: 3px;
	font-size: 16px;
	font-weight: normal;
	-moz-border-radius: 3px;
	text-decoration: none;
	border: none;
	outline: none;
	display: inline-block;
}

a.back-button:hover {
	background-color: #444;
}



a.delete-button, a.delete-button:visited {
	padding: 5px;
	color: #eee;
	background-color: #F04D4D;
	font-size: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none;
	border: none;
	outline: none;
	display: inline-block;
}

a.delete-button:hover {
	background-color: #E31B1B;
}


.plan-link {
	position: absolute;
	margin: -5px 100px;
}


a.homepage-button, a.homepage-button:visited {
	padding: 10px;
	background-color: #666;
	color: #eee;
	font-size: 20px;
	font-weight: 100;
	border-radius: 5px;
	-moz-border-radius: 5px;
	text-decoration: none;
	outline: none;
	display: inline-block;
	letter-spacing: 1.5px;
}

a.homepage-button:hover {
	background-color: #444;
}

input {
	font-weight: 200;
	font-size: 13px;
	padding: 2px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #c8c8c8;
	background-color: #f8f8f8;
}

input:focus {
	background-color: #ffffff;
}

input[type="submit"], input[type="button"] {
	padding: 5px;
	color: #eee;
	background-color: #666;
	font-size: 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	text-decoration: none;
	border: none;
	outline: none;
	display: inline-block;
}

input[type="submit"]:hover, input[type="button"]:hover {
	background-color: #444;
}

.styled-select {
	font-size: 14px;
	padding: 5px;
}

h1 {
	margin: 25px;
	text-align: center;
	padding: 0;
	color: #333;
	/*color: #93c947;*/
	font-weight: bold;
	font-size: 24px;
	line-height: 24px;
}

h2 {
/* 	color: #93c947; */
	color: #4c81b3;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: 100;
}


#wrapper {
	position: relative;
	width: 90%;
	background: #fff;
	margin: 15px auto;
	border: 2px solid #d9d9d9;
	border-radius: 2px;
}

#header {
	position: relative;
	width: 95%;
	height: 75px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

#logo {
	float: left;
	margin: 15px 0 0 15px;
}

.logo h1 {
	font-size: 32px;
	text-shadow: 2px 2px 5px #888;
	font-weight: bold;
}

#header-logo {
	text-align: center;
}

#login {
	position: absolute;
	top: 2px;
	right: 15px;
	height: 15px;
}

#login-page {
	position: relative;
	margin: auto;
	width: 40%;
}

#login-page table td {
	padding: 5px;
}

#content {
	overflow: auto;
	padding: 3px 17px;
	min-height: 450px;
	height: auto; !important
	height: 450px;
}

#page-content {
	margin: 25px auto;
	width: 90%;
}




/************ NAVIGATION MENU ******************/

nav {
	float: right;
	text-align: right;
	margin: 48px 1px 0px 0px;
	position: absolute;
	right: 0;
	z-index: 51;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav ul li {
	width: 75px;
	text-align: center;
	margin: 0px 0px 0px 5px;
	padding: 4px 8px 4px 8px;
	display: block;
	float: left;
	background: #666;
	color: #ffffff;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	font-size: 14px;
	border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
}

nav ul li:hover {
	background: #fff;
	color: #333;
}

nav ul li:hover a {
	color: inherit;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 19px;
}

nav ul li a {
	color: #ffffff;
	text-decoration: none;
}


nav ul li ul {
/* 	right: -999em; */
	display: none;
	margin: 4px 0px 0px -92px;
	padding: 6px 12px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	float: none;
	position: relative;
	z-index: 100;
	width: 150px;
}

nav li:hover ul {
	right: auto;
	display: block;
}

nav ul li ul li {
	margin: 0;
	display: block;
	position: relative;
	color: #333;
	border: none;
	float: none;
	background: #fff;
	text-align: left;
	white-space: nowrap;
	font-size: 12px;
	width: 118px;
	border-radius: none;
}

div #nav ul li ul li a:hover {
	color: #fff;
}

div #nav ul li ul li a {
	display: block;
	color: #333;
	margin-left: 5px;
	margin-right: 5px;
}

nav ul li ul li:hover {
	padding: 2px;
	border-radius: 0;
	display: block;
	color: #ec9236;
	font-weight: 400;
	width: 100%;

}

nav ul li ul li:hover a {
	color: inherit;
	border-radius: 0;
	display: block;
	width: 100%;
	height: 22px;
}


nav ul li ul li:last-child {
	margin-bottom: 0;
}




/************* PUBLIC HOME PAGE *****************/

#home-box {
	color: #333;
	font-size: 18px;
	/*font-family: Arial, Arial, Helvetica, sans-serif;*/
	text-align: center;
	padding: 25px;
	width: 350px;
	height: auto;
	border-radius: 4px;
	margin: 50px auto;
	background: #a6cf71;
	box-shadow: 8px 8px 12px #888;
}

#home-box a {
/*	font-family: Trebuchet MS1, Trebuchet MS, sans-serif;
*/}

#home-box p {
	margin: 0 0 15px 0;
	line-height: 1.25em;
	text-shadow: 2px 2px 5px #888;
}

#home-info-container {
	position: relative;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

#home-info-container hr {
	margin-bottom: 30px;
}

.home-info {
	float: left;
	background: #f2f2f2;
	margin: 5px 5px 20px 5px;
	padding: 5px 15px;
	width: 44.25%;
	height: 200px;
	display: inline;
	border-radius: 4px;
}

.home-info h2 {
	margin: 0;
	padding: 0;
}

.home-info ul {
	list-style-type: none;
	text-align: left;
}

#beta-message {
	clear: both;
	width: 89%;
	text-align: center;
	margin: 20px;
	font-size: 10px;
	color: #999;
}


.form {
	width: 50%;
	margin: auto;
}

.form table {
	width: auto;
}

.form td {
	padding: 5px;
}

.title-row td {
	padding-top: 10px;
	font-weight: bold;
}

#estimate-table .title-row td {
	background-color: #f8f8f8;
}

#estimate-table {
	width: 80%;
	max-width: 1024px;
	margin-top: 20px;
}

#estimate-table th {
	color: #ffffff;
	font-size: 20px;
	padding: 10px;
	letter-spacing: 1px;
}

#estimate-table td {
	padding: 3px 8px;
}

#estimate-table .title-row td {
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	padding: 2px;
}


.number {
	width: 50px;
}

.estimate-number {
	width: 65px;
}

#draganddrop {
	width: 100%;
	border: 1px dashed #333;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	margin: 10px 0;
}

table#overview {
	width: 100%;
}

table#overview td {
	border-bottom: 1px solid #d6d6d6;
}

table#project-costs {
	width: 40%;
}

table#project-costs td {
	padding: 5px;
	border-bottom: 1px dotted #e2e2e2;
}

table td#wrench-menu {
	border-bottom: 0;
	width: 15px;
}

#public {
	width: 90%;
	margin: 40px auto;
	text-align: justify;
	line-height: 22px;
}


#contact {
	width: 80%;
	margin: 20px auto;
}

#contact p {
	margin: 25px 0;
}

#estimate-summary {
	width: 450px;
	float:left;
}


/***************** FOOTER **********************/

#footer {
	width: 90%;
	text-align: right;
	margin: 5px auto;
	padding-right: 25px;
	color: #888;
	font-size: 12px;
}

#footer a {
	color: #F2B372;
}

#footer a:hover {
	color: #ec9236;
}





/******************* PAGINATION *******************/

#pagination-box {
	padding: 10px 0px 20px 0px;
	color: #999999;
	text-align: center;
}

#pagination-box a {
	color: #999999;
	text-decoration: none;
}

#pagination-box a:hover {
	text-decoration: none;
}

#pagination-box-inner {
	display: inline;
}

#pagination-box-inner a {
	color: #2c5f9d;
	text-decoration: none;
}

#pagination-box-inner a:hover {
	text-decoration: none;
}

#pagination-box img {
	margin: 5px 0px -5px 0px;
}

#pagination-box-page {
	float: right;
	color: #2c5f9d;
	font-weight: bold;
}


.tooltip {
	position: absolute;
	width: 35%;
	margin-left: 70px;
	padding: 5px 8px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	height: auto;
	background-color: rgba(236,146,54,0.95);
	box-shadow: 8px 8px 15px #a2a2a2;
	color: #444444;
	display: none;
	z-index: 500;
}

.tooltip-button {
	position: absolute;
	margin-top: -4px;
	margin-left: 4px;
}


/*
 * -------------------------------------------------------------
 *  ERROR HANDLING
 * -------------------------------------------------------------
 *
 */

#flash-messages {
	position: relative;
	margin: 20px auto;
	font-size: 14px;
	width: 60%;
	color: #f1f1f1;
	text-align: center;
}

#flash-messages > .error {
	background: #c31e1e;
	margin: 2px auto;
	padding: 5px 15px;
	width: 100%;
	text-align: center;
}

#flash-messages > .success {
	background: #157415;
	margin: 2px auto;
	padding: 5px 15px;
	width: 100%;
	text-align: center;
}

#flash-messages ul {
	list-style-type: none;
}

/*** Validation errors **/
.error {
	margin: 3px 10px;
	background: #e64d3d;
	padding: 4px 6px;
	float: left;
	clear: both;
}


.sql-dump table {
	width: 95%;
	margin: 100px auto 20px auto;
}



/******************* jQuery Modal Box ********************/

#modal {
	position: absolute;
	background: rgba(0,0,0,.75);
}






/*************** Estimate Pages ************************/
#estimate-nav {
	display: block;
	width: 80%;
	max-width: 1024px;
	margin: 15px auto 0 auto;
	overflow: hidden;
	clear: both;
	position: relative;
	text-align: center;
}

#estimate-nav a {
	text-decoration: none;
}

#estimate-nav ul {
	width: 55% !important;
	min-width: 500px;
	margin: 0 auto;
	list-style: none;
	font-size: 12px;
}

#estimate-nav ul :last-child {
	border-right: none;
}

#estimate-nav ul li {
	float: left;
	padding: 0 3%;
}

#estimate-nav ul li a {
	float: left;
	text-decoration: none;
	color: #444;
}

nav ul li:hover a {
	display: block;
}

#estimate-nav a, #estimate-nav a:visited {
	text-decoration: none;
}

#estimate-nav a:hover {
	color: #ec9236;
	font-weight: 200;
}



/*
 *
 * -------------------------------------------------------------
 *  Highlight link for current page
 * -------------------------------------------------------------
 *
 */


 div#general #general-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }

 div#general #general-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }

 div#rough-structure #rough-structure-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }

 div#rough-structure #rough-structure-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }

 div#mechanical #mechanical-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }


 div#mechanical #mechanical-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }

 div#interior-exterior #interior-exterior-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }

 div#interior-exterior #interior-exterior-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }

 div#exterior-finishes #exterior-finishes-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }

 div#exterior-finishes #exterior-finishes-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }

 div#interior-finishes #interior-finishes-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }

 div#interior-finishes #interior-finishes-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }

 div#closing #closing-link {
	 background: #ec9236;
	 background: -moz-linear-gradient(#f09841, #ec9236);
	 background: -webkit-gradient(linear, left top, right bottom, from(#f09841), to(#ec9236));
	 background: -webkit-linear-gradient(#f09841, #ec9236);
	 background: -o-linear-gradient(#f09841, #ec9236);
	 background: -ms-linear-gradient(#f09841, #ec9236);
	 background: linear-gradient(#f09841, #ec9236);
	 padding: 0 10px;
	 border-radius: 4px;
 }

 div#closing #closing-link a {
	 color: #f1f1f1;
	 text-decoration: none;
 }


.icon-link {
	width: 24px;
	padding: 0;
	margin: 0;
}


/*
 *
 * ----------------------------------------------------------------------
 *  Details table
 * ----------------------------------------------------------------------
 *
 */


.details-table {
	display: none;
}

table.details {
	background-color: #eee;
	text-align: center;
	margin: 2px auto 30px auto;
	width: 75%;
}

table.details th {
	background: none;
	background-color: #666;
	color: #eee;
	font-size: 11px;
	padding: 0;
}

table.details tr td:first-child {
	text-align: left;
}

table.details tr td:last-child {
	text-align: left;
}



#manage-projects {
	width: 100%;
	margin: auto;
}

#table-pages {
	width: 80%;
	position: relative;
	margin: auto;
}





/*
 *  ToolMenu Dropdown
 *
 */



/* General dropdown styles */
.dropdown {
	position: relative;
	float: right;
	top: -5px;
	right: 15px;
	z-index: 500;
	margin: 0;
}

.dropdown dl {
	 margin-left: 0px;
	 position: relative;
}

.dropdown dd, .dropdown dt, .dropdown ul {
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
}

.dropdown dd {
	position:relative;
}

/* DT styles for sliding doors */
.dropdown dt a {
	background: url(../images/settings-reduced.png);
    position: absolute;
    width:16px;
    height:16px;
    cursor: pointer;
    margin: 0px 5px 0px 0px;
}


/* UL styles */
.dropdown dd ul {
	background:rgba(40, 40, 40,0.75) none repeat scroll 0 0;
    list-style: none;
    padding: 3px 0;
    display: none;
    position: absolute;
    margin: 20px 0 0 -50px;
    width: auto;
    border: 1px solid #656565;
    cursor: pointer;
    z-index: 501;
    border-radius: 3px;
}
.dropdown dd ul li {
	margin: 0;
	width: 150px;
}

.dropdown span.value {
	display:none;
}

.dropdown dd ul li a {
	display: block;
	font-weight: normal;
	font-style: normal;
	width: auto;
	text-align:left;
	overflow:hidden;
	padding: 1px 4px 1px 19px;
	margin: 2px 5px;
	color:#ffffff;
	text-decoration:none;
	font-size: 12px;
	line-height: 1.5em;
}

.dropdown dd ul li a:hover {
	background-color: #e8e8e8;
	border-radius: 2px;
	color: #333;
	text-decoration: none;
}

.dropdown dd ul li a:visited {
	text-decoration:none;
}


#delete-dialog {
	display: none;
}

#archive-dialog {
	display: none;
}

.ui-widget {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}


#cost-totals {
	position: relative;
	width: 80%;
	margin: auto;
	padding-bottom: 15px;
}

#cost-left {
	float: left;
	margin: 15px 0 0 0;
}

#cost-right {
	float: right;
	margin: 15px 0 0 0;
}

#icons {
	position: relative;
	float: right;
	margin-top: -75px;
	margin-right: 100px;
}
