/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



/* Default page layout
------------------------------------------------- */
.page-wrapper {
  padding: 40px 15px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

.navbar {
	background: none;
	border: none;
}

.login-container {
	width: 380px;
	margin: auto;
}

.footer {
	background-color: #383838;
}

.footer p {
	color: #c8c8c8;
}

#logo {
  text-align: left;
}


/* Project index page
------------------------------------------------- */
#manage-projects {
  margin: 50px 0;
}

table#overview {
  width: 100%;
  margin: 25px 0;
}

table#overview th {
  background: #c8c8c8;
  color: #000000;
  padding: 6px 10px;
}

table#overview td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

table#overview a {
  color: #000000;
}

table#overview a:hover {
  text-decoration: none;
  font-weight: bold;
}
